<template>
  <div class="App flex flex-col p-6 justify-center items-center">
    <h1>Hello Vite + Vue 3!</h1>
    <p>Edit ./App.vue to test hot module replacement (HMR).</p>
    <p class="flex w-48 justify-between items-center">
      <span>Count is: {{ count }}</span>

      <button
        class="bg-purple-600 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded"
        @click="count++"
      >
        inc
      </button>
      <button
        class="bg-purple-600 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded"
        @click="count = count - 1"
      >
        dec
      </button>
    </p>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4" :key="i" v-for="i in count">
      <Card />
    </div>
  </div>
</template>

<script>
import Card from "./components/Card.vue";

export default {
  data: () => ({ count: 1 }),
  components: { Card },
};
</script>

<style scoped>
* {
  font-family: "Roboto", sans-serif;
}
</style>
