<template>
  <div class="my-5 w-64 bg shadow-md rounded-lg overflow-hidden">
    <div class="container relative">
      <img src="http://placekitten.com/400/400" alt="kittens" />
      <span class="absolute font-bold text-xxs bottom-0 left-0 rounded-tr-md bg-orange-600 py-1 px-2">
        {{ label.toUpperCase() }} 
      </span>
    </div>

    <div class="container p-4">
      <h2 class="font-bold text-xl">{{ title }}</h2>
      <div class="font-semibold text-orange-600 my-2 ml-2 text-sm">
        {{ subtitle.toUpperCase() }}
      </div>
      <div class="text-sm p-1">
        {{ text }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      label: "kitty",
      title: "Stuff About Stuff",
      subtitle: "And more stuff to see",
      text: `Lorem ipsum dolor sit amet,
        consectetur adipiscing elit, sed do eiusmod tempor 
        incididunt ut labore et dolore magna aliqua. Ut enim ad 
        minim veniam, quis nostrud exercitation ullamco laboris 
        nisi ut aliquip ex ea commodo consequat.`,
    };
  },
};
</script>

<style module>
* {
  font-family: "Roboto", sans-serif;
}
</style>
